.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.5em 0.5em;
    background-color: #77777777;
}

.user {
    display: inline-block;
    width: 32.4%;
    background: #4e5050ab;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 8px 8px rgba(0,0,0,.15);
    transition: all .4s ease;
    margin: 2% auto;
    margin-left: 2px;
    text-align: left;
}

.user:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 4px 4px rgba(0,0,0,.25);
}

.user_img {
    width: 12%;
}

.user_name {
    display: inline-block;
    font-size: 64%;
    padding-left: 4%;
}

header {
    background-color: #323fb3B0;
    padding: 20px;
    color: white;
}

body {
    background-color: #000000F0;
}